@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

nav {
  ul {
    margin: 0 auto;

    li {
      margin: 0 0.5em;
      font-weight: 600;
    }
  }

  span {
    font-weight: 600;
    a {
      text-decoration: none;
    }
  }
}

.carousel {
  margin-top: 4em;

  .container {
    .row {
      align-items: center;
      padding: 0 3.5em;

      h1 {
        font-size: 5em;
        font-style: italic;
        font-weight: 900;
        margin-bottom: 0.35em;
        text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
      }

      p {
        color: lighten(#000000, 40%);
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-image: none;

    .fa-4x {
      color: gray;
    }
  }
}

/* body {
  background: red;
} */

#about-us {
  margin: 5em auto;
  text-align: center;
  padding: 0 3em;

  h4 {
    font-size: large;
    color: #ff9f0d;
    text-transform: uppercase;
    font-weight: 600;
    /* text-shadow: 4px 4px 6px rgba(150, 150, 150, 1); */
  }

  h2 {
    font-size: 3em;
    margin: 1.25rem 0;
    font-weight: 700;
    text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
  }

  p {
    color: lighten(#000000, 40%);
  }
}

#volunteers-positions {
  margin: 5em auto;
  text-align: center;
  position: relative;
  /* background-image: url("../images/h1-map1.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center; */

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 10%;
    width: 75%;
  }

  h2 {
    margin-bottom: 1.5em;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
  }

  .box {
    border-radius: 5px;
    padding: 1em;

    h3 {
      color: #ff9f0d;
      font-weight: 600;
    }

    p {
      color: lighten(#000000, 40%);

      i {
        margin-right: 0.35em;
      }

      a {
        text-decoration: none;
        color: lighten(#000000, 40%);
      }
    }
  }
}

#our-programs {
  margin: 5em auto;
  text-align: center;

  .col-md-12 {
    h2 {
      font-weight: 700;
      font-size: 3em;
      text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
    }

    p {
      width: 50%;
      margin: 0 auto;
      color: lighten(#000000, 40%);
    }
  }

  .card {
    margin-top: 2em;
    background: transparent;
    border: none;
    border-radius: 0 15% 0 15%;
    transition: all 0.5s ease;

    &:hover {
      background: white;
      box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }

    img {
      border-radius: 0 15% 0 15%;
    }

    h5 {
      color: #ff9f0d;
      font-weight: 600;
      text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
    }

    p {
      width: 80%;
      margin: 1em auto;
      color: lighten(#000000, 40%);
    }
  }
}

/* FOOTER */
/* footer {
  background: #fafafa;
  padding: 2em;
  padding-bottom: 0;

  h4 {
    margin-bottom: 1em;
  }

  p,
  ul li {
    font-size: large;

    &.footer-links {
      a {
        text-decoration: none;
        color: rgb(153, 130, 0);
      }
    }

    &.address {
      width: 60%;
    }
  }
  ul li {
    font-size: large;
  }
} */

.copyright {
  background: #e0e0e0;
  padding: 1em;
  padding-bottom: 0;

  span {
    color: rgb(153, 130, 0);
  }

  .aboc {
    text-decoration: none;
    color: rgb(153, 130, 0);
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    .container {
      .row {
        h1 {
          font-size: 2em;
        }
      }
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    .fa-4x {
      font-size: 2em;
    }
  }

  #about-us {
    h2 {
      font-size: 2em;
    }
  }

  #volunteers-positions {
    overflow: hidden;

    h2 {
      font-size: 2em;
    }

    img {
      width: initial;
    }
  }

  #our-programs {
    .col-md-12 {
      h2 {
        font-size: 2em;
      }
    }
  }
}
