@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
}

nav {
  ul {
    margin: 0 auto;

    li {
      margin: 0 0.5em;
      font-weight: 600;
      color: black !important;

      a {
        color: black !important;
      }
    }
  }

  span {
    font-weight: 600;
    a {
      text-decoration: none;
    }
  }
}

.carousel {
  margin-top: 4em;

  .container {
    .row {
      align-items: center;
      padding: 0 3.5em;

      h1 {
        font-size: 5em;
        font-style: italic;
        font-weight: 900;
        margin-bottom: 0.35em;
        text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
      }

      p {
        color: lighten(#000000, 40%);
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 10%;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    background-image: none;

    .fa-4x {
      color: #21444a;
    }
  }
}

/* body {
  background: red;
} */

#about-us {
  margin: 5em auto;
  text-align: center;
  padding: 0 3em;

  h4 {
    font-size: large;
    color: #ff9f0d;
    text-transform: uppercase;
    font-weight: 600;
    /* text-shadow: 4px 4px 6px rgba(150, 150, 150, 1); */
  }

  h2 {
    font-size: 3em;
    margin: 1.25rem 0;
    font-weight: 900;
    color: #21444a;
    text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
  }

  p {
    color: black;
    font-weight: 900;
  }
}

#volunteers-positions {
  margin: 5em auto;
  text-align: center;
  position: relative;
  /* background-image: url("../images/h1-map1.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center; */

  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 10%;
    width: 75%;
  }

  h2 {
    margin-bottom: 1.5em;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
    color: #2a626b;
  }

  .box {
    border-radius: 5px;
    padding: 1em;

    h3 {
      color: darken(#2a626b, 15%);
      font-weight: 900;
    }

    p {
      color: black;
      font-weight: 900;

      i {
        margin-right: 0.35em;
        color: #2a626b;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: 900;
      }
    }
  }
}

#our-programs {
  margin: 2em auto;
  text-align: center;

  .col-md-12 {
    h2 {
      color: #2a626b;
      font-weight: 900;
      font-size: 3em;
      text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
    }

    p {
      width: 50%;
      margin: 0 auto;
      color: black;
      font-weight: 900;
    }
  }

  .card {
    margin-top: 2em;
    background: transparent;
    border: none;
    border-radius: 0 15% 0 15%;
    transition: all 0.5s ease;

    &:hover {
      background: white;
      box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }

    img {
      border-radius: 0 15% 0 15%;
      height: 35vh;
    }

    h5 {
      color: #2a626b;
      font-weight: 900;
      text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
    }

    p {
      width: 80%;
      margin: 1em auto;
      color: black;
      font-weight: 900;
    }

    a {
      &.btn-warning {
        background: #2a626b;
        border: #2a626b;
        color: white;
      }
    }
  }
}

div {
  text-align: center;

  h2 {
    font-weight: 900;
    color: #2a626b;
    font-size: 3em;
    text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
  }
}

#saradnici {
  /* background-image: url(../images/partners.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #71aeb8;
  padding: 2em 5em;

  .row {
    background: #a2a3be42;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    .logos {
      display: flex;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 35%;
        }
      }
    }
  }
}

/* FOOTER */
/* footer {
  background: #fafafa;
  padding: 2em;
  padding-bottom: 0;

  h4 {
    margin-bottom: 1em;
  }

  p,
  ul li {
    font-size: large;

    &.footer-links {
      a {
        text-decoration: none;
        color: rgb(153, 130, 0);
      }
    }

    &.address {
      width: 60%;
    }
  }
  ul li {
    font-size: large;
  }
} */

.copyright {
  background: #e0e0e0;
  padding: 1em;
  padding-bottom: 0;

  span {
    color: #2a626b;
  }

  .aboc {
    text-decoration: none;
    color: #2a626b;
  }
}

.hero {
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.edukacija {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/cover-za-edukaciju.jpeg");
  }

  &.starije {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/cover-za-starije.jpeg");
    background-position: unset;
  }

  &.oralno {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/cover-za-oralno.jpeg");
  }

  .hero-text {
    text-align: center;
    color: white;
    width: 100%;
  }
}

.container {
  .row {
    padding: 2em;

    .program-title {
      h1 {
        font-weight: 900;
        color: #2a626b;
        text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
      }
    }

    .program-img {
      margin-bottom: 1em;

      img {
        width: 100%;
        height: 65vh;
        border-radius: 0 10% 0 10%;
      }
    }

    .program-text {
      line-height: 25px;
      color: black;
      font-weight: 900;
      margin-bottom: 2em;
    }

    .program-imgs {
      .row {
        padding: 0;

        .img {
          width: 25%;
        }

        img {
          width: 100%;
          height: 125px;
          margin-bottom: 1em;
        }
      }
    }

    .recent-programs {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: #82deecd4;
      border-radius: 0 10% 0 10%;
      padding: 1.5em;

      h3 {
        font-size: 1.5em;
        font-weight: 900;
        margin-bottom: 1.5em;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 1em;

          a {
            color: black;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 900;

            img {
              height: 85px;
              max-width: 80px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 65%;
  height: 80%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.other-imgs {
  display: flex;
  justify-content: space-between;

  .column {
    width: 100%;
  }

  img {
    height: 150px;
    width: 100%;
  }
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;

  img {
    height: 55vh;
    margin-bottom: 1em;
  }
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.demo {
  opacity: 1;

  .active,
  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    .navbar-brand {
      img {
        width: 100px;
      }
    }
  }

  .carousel {
    .container {
      .row {
        h1 {
          font-size: 2em;
        }
      }
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    .fa-4x {
      font-size: 2em;
    }
  }

  #about-us {
    padding: 0;

    h2 {
      font-size: 2em;
    }
  }

  #volunteers-positions {
    overflow: hidden;

    h2 {
      font-size: 2em;
    }

    img {
      width: initial;
    }
  }

  #our-programs {
    padding: 0;

    .col-md-12 {
      h2 {
        font-size: 2em;
      }
    }
  }

  .copyright {
    padding: 0;
  }

  .container .row {
    padding: 0.5em;
  }

  .modal {
    width: 85%;
  }

  #saradnici {
    padding: 2;
  }

  .hero {
    &.starije {
      background-position: center;
    }
  }

  #saradnici {
    .row {
      .logos {
        div {
          img {
            width: 85%;
          }
        }
      }
    }
  }
}
