@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v5/7cHqv4kjgoGqM7E3p-kc4A.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Barlow", sans-serif;
}
nav ul {
  margin: 0 auto;
}
nav ul li {
  margin: 0 0.5em;
  font-weight: 600;
}
nav span {
  font-weight: 600;
}
nav span a {
  text-decoration: none;
}
.carousel {
  margin-top: 4em;
}
.carousel .container .row {
  align-items: center;
  padding: 0 3.5em;
}
.carousel .container .row h1 {
  font-size: 5em;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 0.35em;
  text-shadow: 4px 4px 6px #969696;
}
.carousel .container .row p {
  color: #666666;
}
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  width: 10%;
}
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  background-image: none;
}
.carousel .carousel-control-next-icon .fa-4x,
.carousel .carousel-control-prev-icon .fa-4x {
  color: gray;
}
/* body {
  background: red;
} */
#about-us {
  margin: 5em auto;
  text-align: center;
  padding: 0 3em;
}
#about-us h4 {
  font-size: large;
  color: #ff9f0d;
  text-transform: uppercase;
  font-weight: 600;
  /* text-shadow: 4px 4px 6px rgba(150, 150, 150, 1); */
}
#about-us h2 {
  font-size: 3em;
  margin: 1.25rem 0;
  font-weight: 700;
  text-shadow: 4px 4px 6px #969696;
}
#about-us p {
  color: #666666;
}
#volunteers-positions {
  margin: 5em auto;
  text-align: center;
  position: relative;
  /* background-image: url("../images/h1-map1.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center; */
}
#volunteers-positions img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 10%;
  width: 75%;
}
#volunteers-positions h2 {
  margin-bottom: 1.5em;
  font-weight: 700;
  font-size: 3em;
  text-shadow: 4px 4px 6px #969696;
}
#volunteers-positions .box {
  border-radius: 5px;
  padding: 1em;
}
#volunteers-positions .box h3 {
  color: #ff9f0d;
  font-weight: 600;
}
#volunteers-positions .box p {
  color: #666666;
}
#volunteers-positions .box p i {
  margin-right: 0.35em;
}
#volunteers-positions .box p a {
  text-decoration: none;
  color: #666666;
}
#our-programs {
  margin: 5em auto;
  text-align: center;
}
#our-programs .col-md-12 h2 {
  font-weight: 700;
  font-size: 3em;
  text-shadow: 4px 4px 6px #969696;
}
#our-programs .col-md-12 p {
  width: 50%;
  margin: 0 auto;
  color: #666666;
}
#our-programs .card {
  margin-top: 2em;
  background: transparent;
  border: none;
  border-radius: 0 15% 0 15%;
  transition: all 0.5s ease;
}
#our-programs .card:hover {
  background: white;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
#our-programs .card img {
  border-radius: 0 15% 0 15%;
}
#our-programs .card h5 {
  color: #ff9f0d;
  font-weight: 600;
  text-shadow: 4px 4px 6px #969696;
}
#our-programs .card p {
  width: 80%;
  margin: 1em auto;
  color: #666666;
}
/* FOOTER */
/* footer {
  background: #fafafa;
  padding: 2em;
  padding-bottom: 0;

  h4 {
    margin-bottom: 1em;
  }

  p,
  ul li {
    font-size: large;

    &.footer-links {
      a {
        text-decoration: none;
        color: rgb(153, 130, 0);
      }
    }

    &.address {
      width: 60%;
    }
  }
  ul li {
    font-size: large;
  }
} */
.copyright {
  background: #e0e0e0;
  padding: 1em;
  padding-bottom: 0;
}
.copyright span {
  color: #998200;
}
.copyright .aboc {
  text-decoration: none;
  color: #998200;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/program1-bg.jpg");
  height: 45vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .hero-text {
  text-align: center;
  color: white;
  width: 100%;
}
.container .row {
  padding: 2em;
}
.container .row .program-img {
  margin-bottom: 1em;
}
.container .row .program-img img {
  width: 100%;
  height: 55vh;
  border-radius: 0 10% 0 10%;
}
.container .row .program-text {
  line-height: 25px;
  color: #666666;
  margin-bottom: 2em;
}
.container .row .program-imgs .row {
  padding: 0;
}
.container .row .program-imgs .row img {
  width: 100%;
}
.container .row .recent-programs {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #cccccc;
  border-radius: 0 10% 0 10%;
  padding: 1.5em;
}
.container .row .recent-programs h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.5em;
}
.container .row .recent-programs ul {
  list-style: none;
  padding: 0;
}
.container .row .recent-programs ul li {
  margin-bottom: 1em;
}
.container .row .recent-programs ul li a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .row .recent-programs ul li a img {
  height: 80px;
  max-width: 80px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .carousel .container .row h1 {
    font-size: 2em;
  }
  .carousel-control-next-icon .fa-4x,
  .carousel-control-prev-icon .fa-4x {
    font-size: 2em;
  }
  #about-us h2 {
    font-size: 2em;
  }
  #volunteers-positions {
    overflow: hidden;
  }
  #volunteers-positions h2 {
    font-size: 2em;
  }
  #volunteers-positions img {
    width: initial;
  }
  #our-programs .col-md-12 h2 {
    font-size: 2em;
  }
}
